body {
	margin: 0;
	padding:0;
	background: url('../images/back.png') no-repeat center bottom fixed;
	width:100%;
	background-size:cover;
}

.progress-bar
{
	font-size: 25px;
	position: relative;
	padding-top: 18px;
	color:black;
}
#mensajes
{
	position: relative;
	margin:auto;
	z-index: 700;
	text-align: center;
	opacity:0;
}



/* PARTE VISOR TEXTO */
#modalText
{
	width:100%;
	height:100%;
}
#contText
{
	width:100%;
	height:100%;
	text-align: center;

	background-color: rgba(255,255,255,0.2);
}
.modal-Text
{
	padding:0;
	margin:0;
	width:100%;
	height:100%;
}
#text
{
	margin: auto;
	min-height: 90%;
	max-height:90%; 
	min-width:100%;
	max-width:100%; 
}
#nameFitx
{
	float:left;
	color:#1077f4;
	font-size: 30px;
	margin-left: 28px;
	margin-top: 10px;
	margin-right: 15px;
}
#contrText
{
	height: 67px;
	margin-bottom: 15px;
	width:95%;
	margin:auto;
	background-color: #f7f7f7;
}

#save
{
	float:left;
}

#closeText
{
	float:right;
}

#cargandoText
{
	position: relative;
	top: 45%;
	transform: translateY(-50%);
	height: 85%;
	width:95%;
	background-color: #F7F7F7;
	margin:auto;
}
#cargandoText img
{
	position: relative;
	top: 25%;
	transform: translateY(-50%);
}


/* PARTE VISOR PDF */
#modalPDF
{
	width:100%;
	height:100%;
}
#contPDF
{
	width:100%;
	height:100%;
	text-align: center;
	background-color: rgba(255,255,255,0.2);
}
.modal-PDF
{
	padding:0;
	margin:0;
	width:100%;
	height:100%;
}
#contrPDF
{
	height: 67px;
	margin-bottom: 15px;
	margin:auto;
	width:95%;
	background-color: #F7F7F7;
}
#PDFviewer
{
	width:95%;
	height:85%;
}
#closePDF
{
	float:right;
}
#nameFitxPDF
{
	float:left;
	color:#1077f4;
	font-size: 30px;
	margin-left: 28px;
	margin-top: 10px;
	margin-right: 15px;
}


/* PARTE VISOR IMAGENES */
#contIMG
{
	text-align: center;
}
.imgContr
{
	float:left;
	font-size: 20px;
	color:#052c5d;
	font-size: 30px;
	cursor: pointer;
}

#closeImg
{
	float:right;
}
#nameImg
{
	float:left;
	color:#1077f4;
	font-size: 30px;
	margin-left: 28px;
	margin-top: 10px;
	margin-right: 15px;
	width:400px;
}
#contrUpImg
{
	height: 67px;
	margin-bottom: 15px;
	margin:auto;
	width:95%;
	background-color: rgba(255,255,255,0.8);
}

#contrImg
{
	margin:auto;
	height: 60px;
	width: 150px;
	color:#052c5d;
}

.contrImg
{
	float:left;
	position: relative;
	font-size: 30px;
	cursor: pointer;
	color:#052c5d;
	margin-top: 12px;
	width:75px;
}

/* PARTE REPRODUCTOR VIDEO */
#modalVideo
{
	width:100%;
	height:100%;
}
#contVid
{
	width:100%;
	height:100%;
	text-align: center;
	background-color: rgba(255,255,255,0.2);
}
.modal-vid
{
	width:100%;
	height:100%;
	padding:0;
	margin:0;
}

#contrUpVid
{
	height: 67px;
	margin-bottom: 15px;
	margin:auto;
	width:95%;
	background-color: rgba(255,255,255,0.8);
}
#videoVid
{
	width:95%;
	height: 85%;
	margin:auto;
	background-color: rgba(255,255,255,0.8);
}
#video
{
	width:95%;
	height:85%;
	margin:auto;
}
#closeVid
{
	float:right;
}

#contrVid
{
	padding-top:15px;
	margin:auto;
	height: 60px;
	width: 500px;
	color:#052c5d;
}

.vidContr
{
	float:left;
	font-size: 20px;
	color:#052c5d;
	font-size: 30px;
	cursor: pointer;
}
.vidContr:hover
{
	color:#000000;
}
#sliderVolVid
{
	margin-top: 22px;
	margin-left: 20px;
	width: 150px;
	float:left;
	background-color: #f2f2f2;
	border: 1px solid #052b5a;
}

#sliderVolVid a
{
	background: none;
	background-color: #052c5d;
	border: 1px solid #052b5a;
	border-radius: 50%;
}

#sliderVolVid div {  
    background-color: #006df4;
}
#nameVid
{
	float:left;
	color:#1077f4;
	font-size: 30px;
	margin-left: 28px;
	margin-top: 10px;
	margin-right: 15px;
	width:880px;
	text-align: right;
}

/* PARTE MODAL RES */
#contRes
{
	width:700px;
	height:520px;
	text-align: center;
}
.modal-res
{
	width:700px;
	height:520px;
}
#res
{
	width:640px;
	height:480px;
}

/* PARTE REPRODUCTOR MUSICA */
#repMusica
{
	background:rgba(255,255,255,0.8);
	box-sizing:border-box;
	border-top: 2px solid #052c5d;
	position: fixed;
	width:100%;
	bottom: 0;
	opacity:0;
	text-align: center;
	z-index: 100;
	height:75px
}
#audio
{
	margin:auto;
	display:none;
	width:70%;
	float:left;
	margin-top: 10px;
}

#closeMus
{
	margin-top: 7px;
	margin-left: 15px;
	float:right;
	display:none;
}


#nomSong
{
	width:300px;
	font-size: 25px;
	height: 40px;
	color:#052c5d;
	margin-right: 20px;
	margin-top: 20px;
}
.contrMus
{
	float:left;
	position: relative;
	font-size: 30px;
	cursor: pointer;
	color:#052c5d;
	margin-top: 12px;
	width:75px;
}

.contrMus:hover
{
	color:#000000;
}
#sliderVolMus
{
	margin-top: 30px;
	margin-left: 20px;
	background-color: #f2f2f2;
	border: 1px solid #052b5a;
	width: 150px;
	float:left;
}

#sliderVolMus a
{
	background: none;
	background-color: #052c5d;
	border: 1px solid #052b5a;
	border-radius: 50%;
}
#sliderVolMus div {  
    background-color: #006df4;
}

#butBack,#butFor
{
	float:left;
	text-align: center;
}



.imgOp
{
	height: 36px;
	width: 36px;
	margin-top: 5px;
}

#closeMus,#closeVid,#closeIMG,#closePDF,#closeRes
{
	position: relative;
	font-size: 30px;
	cursor: pointer;
}

/*MENU CONTEXTUAL*/
#menuCont
{
	/*border: 2px solid black;*/
	width:140px;
	padding:5px;
	display:none;
	position: absolute;
	z-index:100;

}
#menuCont ul 
{
	list-style: none;
	width: 120px;
	margin-left: -20px;
}
.iconMenu
{
	float:left;
	width:30px;
	height:36px;
}

.iconMenu2
{
	float:left;
	width:30px;
	height:36px;
}

.iconCont
{
	float:left;
}

#menuCont ul li
{
	width: 120px;
}

#menuCont ul li .disabled
{
	opacity: 1;
	background-color: #6e6e6e;
	color:white;
}

.butMenu
{
	display: inline-block;
	width: 120px;
}

.spanMen
{
	float:left;
	margin-left: 10px;
}

/* MODALES NUEVA CARPETA Y NUEVO FICHERO y compartir Carpeta*/
.modalTit
{
	margin-top: 10px;
	width:55%;
}

#mensajesFichero,#mensajesCarpeta,#mensajesCompartir
{
	margin-top: 15px;
	margin-bottom: 0px;
}

#nombreFich,#nombreCarp,#nombreUs
{
	margin-top: 10px;
	width:70%;
}
.modal-carp,.modal-fich,.modal-comp
{
	height: 300px;
	width:400px;
}
#contCarp,#contFich,#contComp
{
	height: 100%;
	width:100%;
}
.butIzq
{
	
	width: 50%;
	float:left;
	height: 50px;
	margin-top: 20px;
}
.butDer
{
	width: 50%;
	float:right;
	height: 50px;
	margin-top: 20px;
}

/* MODAL CARGA */

#modalCarga
{
	width:100%;
	height:100%;
}
#contCarga
{
	width:90%;
	margin:auto;
	text-align: center;
}
.modal-carga
{
	padding:0;
	margin:auto;
	width:100%;
	height: 100%;
}


#closeCarga
{
	float:right;
}

.cargaArchivo
{
	height: 30px;
}
#tableFiles
{
}
#tableFiles *
{
}

#fileupload
{
	padding-top: 40px;
	border-top: 2px solid #494949;
}

#titCarga
{
	color:#1077f4;
	font-size: 30px;
	padding:10px 0;
}

/* FITXERS */
#llistaFitx>:first-child
{
	margin-top:0;
}
#llistaFitx li
{
	width: 100%;
	padding-top: 5px;
	height: 50px;
	list-style: none;
	background-color: rgba(255,255,255,0.7);
	margin:5px 0;

}

.ui-widget-content
{

	border: none;
	background: none;
}

#llistaFitx li img
{
}

#llistaFitx li span
{
    display: inline-block;
    width:80%;
    min-width:280px;
	float:left;
	text-align: left;
}

#llistaFitx li span::-webkit-scrollbar { 
    display: none; 
}

#llistaFitx .ui-selecting 
{ 
	background: #FECA40; 
}
#llistaFitx .ui-selected 
{ 
	background: #F39814; 
	color: white; 
}
#llistaFitx 
{ 
	list-style-type: none;
	margin: 0; 
	padding: 0; 
	width: 100%;
}



/* NAVEGACIO*/

.header
{
	background-image: url(../images/iconFiles/folder.png);
	width: 25px;
	height: 25px;
}
.activeHeader
{
	background-image: url(../images/iconFiles/folder.png);
	width: 25px;
	height: 25px;
}

#carpActual
{
	float:left;
	margin-left: 18%;
	width:75%;
	font-size: 25px;
	color:#191e38;
	text-align: center;
	margin-bottom:15px; 
	font-weight: bold;
}

#fitx
{
	float:left;
	margin-left: 23%;
	width:75%;
	height: 450px;
}

#cont
{
	height: 600px;
	width: 100%;
	text-align: center;
	z-index: 100;
	position: absolute;
}

.spanNomNav
{
	float:left;
}
.spanNomNav:hover
{
	cursor: pointer;
	color:blue;
}
.butNav
{
	width:80%;
}
.imgNav
{
	float:left;
	margin-left: 15px;
	margin-right: 15px;
	width:29px;
	height:36px;
}

/* PARTE CONTRRLES SUPERIOREs*/


#controls
{
	width:100%;
	margin:25px 0;
	height: 50px;
}

.controls
{
	float:left;
	height: 50px;
	width: 56px;
	margin:0 6px;
	color:#000;
	background-color: #BFDDFB;
}

#infoEstado
{
	float:left;
	width:auto;
}

#estado
{
	margin-right: 10px;
	width:40%;
	height: 50px;
	background-color: #EEEEEE;
	border-radius: 4px;
	float:left;
}

/* D&D*/
/*
#jQ-menu span.hoverBar
{
	color:#4D2A9B;
}

#jQ-menu span.activeBar
{
	color:#4D2A9B;
}
*/

#llistaFitx .active
{
	background: none;
	background-color: #9F79EF;
	border:2px solid #4D2A9B;
	color:#fff;
	box-sizing:border-box;
}
#llistaFitx .ui-selecting
{
	background: #FFDDB3;
	background-color: #FFDDB3;
	box-sizing:border-box;
}
#llistaFitx .active
{
	background: none;
	background-color: #9F79EF;
	border:2px solid #4D2A9B;
	color:#fff;
	box-sizing:border-box;
}
#llistaFitx .hover
{
	background: none;
	background-color: #4D2A9B;
	border:2px solid #9F79EF;
	color:#fff;
	box-sizing:border-box;
}

#llistaFitx .hover .spanNomNav 
{
	background: none;
	background-color: #4D2A9B;
	color:#fff;
	box-sizing:border-box;
}
#llistaFitx .active span 
{
	background: none;
	background-color: #9F79EF;
	color:#fff;
	box-sizing:border-box;
}

#jQ-menu
{
	position: absolute;
	color:#000;
	clear:both;
	float:left;
	width:20%;
	height: 500px;
	background-color: rgba(255,255,255,0.6);
	z-index: 100;
}
.folder
{
	float:left;
	margin-right: 15px;
}
#jQ-menu span {
	float:left;
	list-style-type: none;
	color:black;
}
#jQ-menu ul {
	clear:both;
	width:100%;
	float:left;
	list-style-type: none;
}

#jQ-menu a, #jQ-menu li {
	width:100%;
	float:left;
	text-decoration: none;
	padding-bottom: 3px;
}
#menu-tab
{
}

#img403
{
}



@media(max-width: 1121){
	#infoEstado
	{
		float:none;
		position: relative;
		margin:7px auto;
		width:90%;
		boz-sizing:border-box;
	}

	#estado
	{
		float:none;
		position: relative;
		margin:7px auto;
		width:90%;
		boz-sizing:border-box;
	}
	#atras
	{
		float:left;
		clear: both;
	}
	#controls
	{
		width:100%;
		margin:10px 0;
		height: 190px;
	}
	.controls
	{
		margin:0 20px;
	}
	.homeContr
	{
		margin-top: 10px;
	}
	#cont
	{
		height: 600px;
	}
	#fitx
	{
		height: 360px;
	}
	#jQ-menu
	{
		height: 410px;
	}
}

@media(max-width: 991px){
	#fitx
	{
		float:left;
		width:90%;
		/*height: 330px;*/
		height: 410px;
		margin-left: 30px;
	}
	#jQ-menu
	{
		width: 0;
		opacity: 0;
		margin-left: 30px;
		background-color:#D3E8FC;
	}
	#menu-tab
	{
		position: absolute;
		float:left;
		width:30px;
		background-color: green;
		height: 410px;
	}
	
	#cont
	{
		height: 100%
	}
	#tableFiles
	{
		width:100%;
		margin: auto;
	}

@media(max-width: 767px){
}

@media(max-width: 678px){

	#controls
	{
		height: 250px;
	}
	#cont
	{
		height: 615px;
	}
	#menu-tab
	{
		height: 300px;
	}
	#fitx
	{
		height: 350px;
	}
	#jQ-menu
	{
		height: 350px;
	}
}