@charset "UTF-8";
/* CSS Document */
body
{
    z-index: 1;
}

.oculta{
    display:none;
}

.muestra{
    position: relative;
    float:left;
    display:block;
}

#divTitulo
{

    top:0;
    z-index: 200;
    background:#FFF;
    padding-top:25px;
    border-bottom:2px solid black;
    padding-bottom:25px;
    background-image:url(../Imagenes/ios-linen.jpg); 
    position: fixed;

}

#contenidoIndex
{
    position: relative;
    top:100px;
}

#titulo
{
    font:bold 30px fuenteTitulo, Verdana, sans-serif;
    color:white;
    text-shadow: white 1px 1px 3px;		

}


.dekers{
    font: bold 3em fuenteTitulo, Verdana, sans-serif;
}


@font-face
{
    font-family:fuenteTitulo;
    src:url(../Fuentes/Dekers.ttf)
}
#titulo:hover
{
    cursor:default;
}

#divMenu
{
    background-color:#39f; 
    color:white;
    border-bottom:6px ridge #FFB801;
    border-top:6px ridge #FFB801;
}

.menuAct
{
    background-color: white;
    border-radius:5px;
    text-decoration: none;
    padding-top:5px; 
    text-align:center;
    font:16px Verdana, sans-serif;
}
.menuAct > a 
{
    color:#39f;
}
.menuAct > a:hover{
    color:#39f;
}
.menuDesk
{
    color: #39f;
}
.menuDesk:hover{
    color:white;
}

.menuDesk
{
    text-align: center;
    font:16px Verdana, sans-serif;
}
#menu 
{ 

    padding-top:5px; 
    text-align:center;
    font:16px Verdana, sans-serif;
    height:20px;
    width:100px;
}
#formularios 
{  
    text-align:center;
    font:13px Verdana, sans-serif;
    color:black;

}
.menu
{
    color:#39f;
    padding-top:5px; 
    text-align:center;
    font:16px Verdana, sans-serif;
    height:20px;
}

.menu:hover
{
    color:white;
}
.link
{
    color:black;
    background:white;
    border:3px solid white;
    border-left:8px solid white;
}
#formLogin
{
    border:3px solid black;
    background:white;
    padding:10px 50px 50px 50px;
    border-radius:15px;
}

.label
{
    width:120px;	
    color: #ffffff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background-color: #006dcc;
    *background-color: #0044cc;
    background-image: -moz-linear-gradient(top, #0088cc, #0044cc);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0044cc));
    background-image: -webkit-linear-gradient(top, #0088cc, #0044cc);
    background-image: -o-linear-gradient(top, #0088cc, #0044cc);
    background-image: linear-gradient(to bottom, #0088cc, #0044cc);
    margin-right:10px;	
}
.label:hover
{
    cursor:default;	
}
.text
{
    margin-top:10px;
}

#formReg
{
    border:5px solid black;
    padding:40px;
    border-radius:15px;		
    margin-top:20px;
}
#descubreCont
{
    border:3px solid black;
    border-radius:10px;

}

.button
{
    background-color:#F00;
    width:5%;
    text-align:center;
    font-size-adjust:10%;
    font-size:1.5em;
}
.button:hover
{
    background-color:#F33;	
}
.button:active
{
    background-color:#900;
}


/*Perfil*/

#imgPer
{
    width:100px;
    float:left;
    margin-top:10px;
}

#mostraPerfil
{
    width:380px;
    float:left;
}


/* CLASES PARA PROYECTOS */

/* PROYECTES	 */

#contingutProy
{
    margin-top:30px;
    width:100%;
}

.tituloProy
{
    color:#039;
    margin-bottom:30px;
    text-align:center;
}

.info,.infoCrea
{
    height:100%;
    width:70%;
    border-top:1px solid #CCC;	
    border-bottom:1px solid #CCC;	
    border-right:1px solid #CCC;	
    float:left ;
    cursor: pointer;
}

.info:hover,.infoCrea:hover
{
    border-top:1px solid #989898 ;	
    border-bottom:1px solid #989898 ;	
    border-right:1px solid #989898 ;	
    background-color: #F0F0F0 ;
}

.proyecto,.proyectoCrea
{
    height:149px;
    margin-top:10px;
    margin-bottom:10px;
}

.imagenProy
{
    float:left;
    height: 100%;
    width:18.5%;
    cursor: pointer;
}

.imagenProy > img
{
    width:100%;
    height:100%;
}

.spanProy
{
    margin-top:10px;
    margin-left:10px;
    position: relative;
    float:left;
    width:200px;
    float:left;
    color:#08c;
}

.butAbrir
{
    clear:both;
    margin-left:10px;
    margin-top:10px;
    float:left;
}

.butEliminar
{
    clear:both;
    float:left;
    margin-left:10px;
    margin-top:10px;
}

.butCrear
{
    margin:60px 110px;
}

.paginacion
{
    padding-top:5%;
    padding-left:45%;
}

#pag >li > a
{
    color:#39f;
}

#pag >li > a:visited
{
    color:#39f;
}

/*Estilos para editar proyecto*/
#editaProy
{
    display:none;
}

#editaProy > span
{}

#editaProy > textarea
{
    width:300px;
}

#spanEditaDesc{
    margin-left: 8.51063829787234%;
}
a:hover{
    text-decoration: none;
    color:#039;
}

a
{
    text-decoration: none;
}
#bannerPresentacion
{
    position: relative;
    border-image: url(../Imagenes/ios-linen.jpg) 30 30 stretch;
    border-width: 10px;
    background-color:#f89406;
    height:350px;
}
#sombra{
    position: relative;
    margin-left: 12.5%;
    width: 75%;
    border-left:10px solid transparent;
}
#sombra > img{
    width: 100%;
}

#bannerPresentacion > #logos > img{
    margin-top: 5%;
}

#html, #css
{
    width:15%;
    height: 60%;
}
#html{
    z-index: 4;
}
#css{
    margin-left:-5%;
    z-index:3;
}

#jQuery
{
    width:20%;
    height: 60%;
    margin-left:-5%;
    z-index: 2;
}

#ajax{
    width:30%;
    height: 60%;
    margin-left:-5%;    
    z-index: 1;
}

#logos
{
    margin-left: 4%; 
}

#paraula0{

    font-size: 10em;
}

#paraula1{
    color: darkslateblue;
    font-size: 50px;
}

#paraula2{
    color:white;
    font-size:5em;

}
#paraula3
{
    color:darkgreen;
    font-size: 4em;
}

#paraula4
{
    color:darkgreen;
    font-size:3em;
}

#paraula5{
    color: green;
    font-size:7em;
}
#paraula6
{
    color:darkgreen;
    font-size: 4em;
}

#paraula7
{
    color: darkslateblue;
    font-size:7em;
}

#paraula8
{
    color:blueviolet;
}

paraula9
{
    color:red;
}
#busc
{
    width: 75%;
}

#video
{
    margin-left: 25%;
}

@media (min-width: 1481px)
{
    #divNav
    {
        margin-left: 20%;
    }
    #menuCap
    {
        width: 100%;
    }
    #mensaje
    {
        margin-top:25px;
        margin-left:200px;
    }
    .row-fluid .marginProys{
        margin-left:10.638297872340425%;   
        *margin-left:10.638297872340425%;   
    }
}
@media (min-width: 1200px) and (max-width: 1480px) { 
    #divNav
    {
        margin-left: 20%;
    }
    #menuCap
    {
        width: 100%;
    }
    .row-fluid .marginProys{
        margin-left:10.638297872340425%;   
        *margin-left:10.638297872340425%;   
    }

    #busc
    {
        width: 75%;
    }
}

@media (min-width: 980px) and (max-width: 1199px)
{
    #divNav
    {
        position:relative;
        width:83%;
        margin-left:100px;
    }
    #menuCap
    {
        width: 100%;
    }
    #paraula0{

        font-size: 6em;
    }

    #paraula1{
        font-size: 2em;
    }

    #paraula2{
        font-size:4em;

    }
    #paraula3
    {
        font-size: 3.5em;
    }

    #paraula4
    {
        font-size:3em;
    }

    #paraula5{
        font-size:5em;
    }
    #paraula6
    {
        font-size: 3.5em;
    }

    #paraula7
    {
        font-size:5em;
    }
    #mensaje
    {
        margin-top:50px;
        margin-left: 75px;
    } 
    .row-fluid .marginProys{
        margin-left:10.638297872340425%;   
        *margin-left:10.638297872340425%;   
    }
    .imagenProy
    {
        width:100px;
    }
    .btn-success
    {
        width:150px;
        margin-left:50px;
    }
}
/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {
    #divNav
    {
        margin-left: 0%;
    }
    #menuCap
    {
        width: 100%;
    }
    #mensaje
    {
        margin-top:50px;
        margin-left: 80px;
    }
    #paraula0{

        font-size: 6em;
    }

    #paraula1{
        font-size: 1.5em;
    }

    #paraula2{
        font-size:3.5em;

    }
    #paraula3
    {
        font-size: 3em;
    }

    #paraula4
    {
        font-size:2.5em;
    }

    #paraula5{
        font-size:4.5em;
    }
    #paraula6
    {
        font-size: 3em;
    }

    #paraula7
    {
        font-size:4.5em;
    }

    .row-fluid .marginProys{
        margin-left:10.638297872340425%;   
        *margin-left:10.638297872340425%;   
    }

    .imagenProy
    {
        width:90px;

    }
    .btn-success
    {
        width:150px;
        margin-left:10px;
    }
    #video
    {
        margin-left: 1px;
    }
}

/* Landscape phone to portrait tablet */
@media  (min-width: 481px) and (max-width: 767px) { 
    #divNav
    {
        margin-left: 0;
    }

    #titulo{
        width:50%;
        float:left;
    }
    #paraula0{

        font-size: 6em;
    }

    #paraula1{
        font-size: 1.5em;
    }

    #paraula2{
        font-size:3.5em;

    }
    #paraula3
    {
        font-size: 3em;
    }

    #paraula4
    {
        font-size:2.5em;
    }

    #paraula5{
        font-size:4.5em;
    }
    #paraula6
    {
        font-size: 3em;
    }

    #paraula7
    {
        font-size:4.5em;
    }
    #mensaje
    {
        margin-top:25px;
        margin-left: 50px;
    } 
    #span1
    {
        display:none;
    }

    #video
    {
        margin-left: 1px;
    }
}

/* Landscape phones and down */
@media (max-width: 480px) { 
    .nav-collapse
    {
        margin-left: 0;
    }
    #titulo{
        width:50%;
        float:left;
    }

    #paraula0{

        font-size: 5.5em;
    }

    #paraula1{
        font-size: 1em;
    }

    #paraula2{
        font-size:3em;

    }
    #paraula3
    {
        font-size: 2.5em;
    }

    #paraula4
    {
        font-size:2m;
    }

    #paraula5{
        font-size:4em;
    }
    #paraula6
    {
        font-size: 2.5em;
    }

    #paraula7
    {
        font-size:4em;
    }
    #mensaje
    {
        margin-top:25px;
        margin-left: 50px;
    } 
}

